<!doctype html>
<html lang="en" class="h-100">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
</head>
<body>
<div>
    <header>
        <div>
            <h3>Cover</h3>
            <nav>
                <form action="/logout?_method=DELETE" method="POST">
                    <button type="submit"  >Logout</button>
                </form>
            </nav>
        </div>
    </header>

    <main>
        <h1>I HATE JAVASCRIPT</h1>
        <p>Never again please</p>
    </main>

</div>
</body>
</html>
