<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Login</title>
</head>
<body>
<!-- Section: Design Block -->
<section>
    <div>
        <form action="/login" method="POST">
            <!-- 2 column grid layout with text inputs for the first and last names -->
            <div>
                <h1 class="mb-3 h3">Login</h1>
            </div>

            <!-- Email input -->
            <div>
                <input class="form-control" name="email" type="email"/>
                <label class="form-label">Email address</label>
            </div>

            <!-- Password input -->
            <div>
                <input class="form-control" name="password" type="password"/>
                <label class="form-label">Password</label>
            </div>

            <!-- Submit button -->
            <button type="submit">
                Sign In
            </button>

            <!-- Register buttons -->
            <div>
                <p>Don't have an account yet? <a href="/register">Register</a></p>
            </div>
        </form>
    </div>
</section>
</body>
</html>