<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Register</title>
</head>
<body>
<!-- Section: Design Block -->
<section>
    <div>
        <form action="/register" method="POST">
            <!-- 2 column grid layout with text inputs for the first and last names -->
            <h1>Register</h1>
            <div>
                <input class="form-control" name="name" type="text"/>
                <label class="form-label">Full Name</label>
            </div>


            <!-- Email input -->
            <div>
                <input class="form-control" name="email" type="email"/>
                <label class="form-label">Email address</label>
            </div>

            <!-- Password input -->
            <div>
                <input class="form-control" name="password" type="password"/>
                <label class="form-label">Password</label>
            </div>

            <!-- Submit button -->
            <button type="submit">
                Sign up
            </button>

            <!-- Register buttons -->
            <div>
                <p>Already have an account? <a href="/login">Login</a></p>
            </div>
        </form>
    </div>
</section>
</body>
</html>